{% extends 'base.html.twig' %}
{% block title %} {{ parent()}} - ajouter admin {% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter Admin</h1>
    {% include "admin/form.html.twig" %}
{% endblock %}
