{% extends "base.html.twig" %}

{% block body %}
    <p>Voulez-vous supprimer le user de façon définitive ?</p> 
    <form action="{{ path('admin_delete_user', {'id': user.id}) }}" method="post">
        <div class="row">
            Username :  {{user.username}}
        </div>
        <div class="row">
            <a href="{{ path('admin_list_users', {'id': user.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour aux users
            </a>
            {# Ici j'ai écrit le bouton de soumission à la main #}
            <input type="submit" value="Supprimer" class="btn btn-danger" />
            {# Ceci va générer le champ CSRF #}
            {{ form_rest(form) }}
        </div>
    </form>
{% endblock %}