{% extends 'base.html.twig' %}
{% block title %} {{ parent()}} - modifier admin {% endblock %}
{% block body %}
    <h1 class="text-center">Éditer admin</h1>
    {% include "admin/form.html.twig" %}
{% endblock %}