{% block body %}
<a href="{{path('index')}}" class="">Liste de posts</a><br>
<a href="{{path('pathFuncIcidonnelePath')}}" class="">page de test</a><br>
<a href="{{path('advert_index')}}" class="">advertisment</a>

{% endblock %}