{% block body %}
<a href="{{path('index')}}" class="espace">Liste de posts (Tuto youtube)</a>&nbsp;&nbsp;&nbsp;
<a href="{{path('pathFuncIcidonnelePath')}}" class="espace">page de test</a>&nbsp;&nbsp;&nbsp;
<a href="{{path('advert_index')}}" class="">List advertisements</a>&nbsp;&nbsp;&nbsp;
<a href="{{path('advert_add')}}" class="">add advertisement</a>&nbsp;&nbsp;&nbsp;
{% endblock %}