{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - ajout une annoce {% endblock %}

{% block body %}
    <h1>Ajouter une annonce</h1>
    <div class="well">
       {{form(form)}} 
    </div>
{% endblock %}