{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - {% trans %} add an announcement{% endtrans %}{% endblock %}

{% block body %}
    {# <h1>Ajouter une annonce</h1> #}
    <h1>{% trans %}Add a announcement{% endtrans %} </h1>
    {#on fait appel au formulaire de gestion des annonces#}

    {% include "advert/formAdvert.html.twig" %}
    
{% endblock %}