{% extends "base.html.twig" %}
{% block title %} {{ parent()}} - contact {% endblock %}
{% block body %}
    {#% for message in app.flashes('info') %}
        <div class="modal-body">
            <div class="alert alert-primary" role="alert">{{ message }} <br></div>
        </div>
    {% endfor %#}
    <h1>Formulaire de contact</h1>
    <div class="well">
        {{ form(form) }}
    </div>
    <a href="{{ path('advert_index') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>Retour à la liste
    </a>
{% endblock %}