{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - edit advertisement {% endblock %}
{% block body %}
{% include "advert/form.html.twig" %}
    <h1> Edit an advertisement id:{{advert.id}}</h1>

    <p>
        Vous éditez une annonce déjà existante, merci de ne pas changer
        l'esprit général de l'annonce déjà publiée.
      </p>
    
      <p>
        <a href="{{ path('advert_view', {'id': advert.id}) }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Retour à l'annonce
        </a>
      </p>
{% endblock %}