{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - authentification {% endblock %}

{% block body %}
    <h1>Authentification</h1>
  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <form action="{{ path('login_check') }}" method="post">
    <div class="row">
        <div class="col-sm-3">
            <label for="username">{% trans %} Login {% endtrans %}</label>
        </div>
    
        <div class="col-sm-5">
            <input type="text"  class="form-control" id="username" name="_username" value="{{ last_username }}" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <label for="password">{% trans %} PassWord {% endtrans %}</label>
        </div>
        <div class="col-sm-5">
            <input type="password"  class="form-control" id="password" name="_password" />
        </div>
    </div>
    <br>
    <div class="row col-sm-6 pull-right">
        <input type="submit"  class="btn btn-success" value="Connexion" />
    </div>
  </form>
    
{% endblock %}