 {% extends "base.html.twig" %}

{% block body %}
     <h1>liste des utilisateurs User Manager</h1>

        {% for user in users %}
            {{user.username}}
        {% endfor %}

{% endblock %}
